@import "tailwindcss";

/* First, add the @font-face declaration for Inter Italic */
@font-face {
    font-family: "Inter Italic";
    font-style: italic;
    font-weight: 100 900;
    /* Variable font weight range */
    font-display: swap;
    src: url("/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype-variations");
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    /* Variable font weight range */
    font-display: swap;
    src: url("/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype-variations");
}

@font-face {
    font-family: "bigShoulders";
    font-style: normal;
    font-weight: 100 900;
    /* Variable font weight range */
    font-display: swap;
    src: url("/fonts/Big_Shoulders/BigShoulders-VariableFont_opsz\,wght.ttf") format("truetype-variations");
}

/* Then update your theme */
@theme {
    --font-inter: "Inter", "sans-serif";
    --font-inter-italic: "Inter Italic", "sans-serif";
    --font-bigShoulders: "bigShoulders", "sans-serif";

    --text-MqSmall: min(max(0rem, 3.5vw),1rem);
    --text-MqMedium: min(max(0rem, 4vw),1.2rem);
    --text-MqLarge: min(max(0.5rem, 3vw),2rem);
    --text-MqXLarge: min(max(0.7rem, 2vw),2.2rem);
    /* --text-MqXXLarge: min(max(0.7rem, 1.8vw),1.9rem); */

    /* color */
    --color-pri: #FA5610;
    --color-sec: white;
    --color-tert: black;

    --color-buttonGrad-one: #FF4900;
    --color-buttonGrad-two: #992C00;

    --color-homeScreenGrad-one: rgba(65, 20, 0, 0);
    --color-homeScreenGrad-two: rgba(77, 23, 0, 0.43) ;
    
    --color-pickem-main-bg-gradient-one:#411400;
    --color-pickem-main-bg-gradient-two:#4D1700 ;

    --color-pickem-main-bg: #0B0B0B;

    --color-preHover: #313131;

    --color-pickem-left-box: #331308;
    --color-pickem-right-box: #331308;

    --color-pickem-header-bg: #1C1C1CA6;
    --color-pickem-header-bg-block: #1C1C1C;
    
    --color-pickem-border-bottom: #761D00;
    --color-pickem-box: #73737321;
    --color-header-hover: #2a2320;
    --color-pickem-box-champ: #ffbe24;

    --color-badge: #FF4200;
    /* style 2 */
    --color-circle-bg: #0F324B;
    --color-pickem-title: #fff;

    /* ranking */
    --color-ranking-blocks:#18407F;
    --color-ranking-vote:#335993;

    /* scoreBoard */
    --color-score-grad-one: #2600EB;
    --color-score-grad-two: #1801B8;
    --color-score-shadow: rgba(103, 78, 255, 0.29);

    /* color end */

    --breakpoint-xsm: 500px;
    
    --spacing-0hem: 0.5em;
    --spacing-1em: 1em;
    --spacing-1hem: 1.5em;
    --spacing-2em: 2em;
    --spacing-2hem: 2.5em;
    --spacing-3em: 3em;
    --spacing-3hem: 3.5em;
    --spacing-4em: 4em;
    --spacing-4hem: 4.5em;
    --spacing-5em: 5em;
    --spacing-5hem: 5.5em;
    --spacing-6em: 6em;
    --spacing-6hem: 6.5em;
    --spacing-7em: 7em;
    --spacing-7hem: 7.5em;
    --spacing-8em: 8em;
    --spacing-8hem: 8.5em;
    --spacing-9em: 9em;
    --spacing-9hem: 9.5em;
    --spacing-10em: 10em;
    --spacing-10hem: 10.5em;
}

* {
    transition: color 500ms ease-out, 
    background-color 500ms ease-out,
    border-color 500ms ease-out,
    outline-color 500ms ease-out,
    box-shadow 500ms ease-out,
    fill 500ms ease-out;
}
@layer theme {
    .crimson {
        --color-pickem-title: #FF4200;
    } 
    .emerald {
        --color-pickem-main-bg-gradient-one: #003028;
        --color-pickem-main-bg-gradient-two:  #003028 ;

        --color-pickem-left-box: #08332D;
        --color-pickem-right-box: #08332D;
        
        --color-pickem-border-bottom: #007A64;
        --color-pickem-title: #00FFD0;

        --color-badge: #00FFD0;
    } 
    .amethyst {
        --color-pickem-main-bg-gradient-one: #2A0833;
        --color-pickem-main-bg-gradient-two:  #2D0833 ;

        --color-pickem-left-box: #2A0833;
        --color-pickem-right-box: #2A0833;
        
        --color-pickem-border-bottom: #68007A;
        --color-pickem-title: #B200FF;

        --color-badge: #B200FF;
    } 
    .onyx {
        --color-pickem-main-bg-gradient-one:  #252525;
        --color-pickem-main-bg-gradient-two:  #272727 ;

        --color-pickem-left-box: #202020;
        --color-pickem-right-box: #202020;
        
        --color-pickem-border-bottom: #363636;
        --color-pickem-title: #d1d1d1;

        --color-badge: #d1d1d1;
    } 
    /* style 2 */
    .blue {


        --color-circle-bg: #0F324B;
        --color-pickem-box: #00243E;
        --color-pickem-main-bg: #040E15;

        --color-badge: #1094f2;
    } 
    .green {
        --color-circle-bg: #194B0F;
        --color-pickem-box: #0A3E00;
        --color-pickem-main-bg: #051504;
        --color-badge: #2dd00c;
    } 
    .lBlue {
        --color-circle-bg: #0F434B;
        --color-pickem-box: #00313E;
        --color-pickem-main-bg: #041415;
        --color-badge: #74e1ff;
    } 
    .lGreen {
        --color-circle-bg: #414B0F;
        --color-pickem-box: #3D3E00;
        --color-pickem-main-bg: #121504;
        --color-badge: #afb200;
    } 
    .purple {
        --color-circle-bg: #420F4B;
        --color-pickem-box: #39003E;
        --color-pickem-main-bg: #140415;
        --color-badge: #a700b6;
    } 
    .dark {
        --color-circle-bg: #1E1E1E;
        --color-pickem-box: #3B3B3B;
        --color-pickem-main-bg: #161616;
        --color-badge: #afafaf;
    } 

    /* ranking style 2 */

    .secBlue{

        --color-pickem-main-bg:#081E3F;
        --color-ranking-blocks:#18407F;
        --color-ranking-vote:#335993;
        --color-badge: #1f5fc6;
    }
    .secPurple{
        --color-pickem-main-bg:#13083F;
        --color-ranking-blocks:#27187F;
        --color-ranking-vote:#413393;
        --color-badge: #7862f4;
        
    }
    .secRed{
        --color-pickem-main-bg:#3F1808;
        --color-ranking-blocks:#7F2E18;
        --color-ranking-vote:#6F2100;
        --color-badge: #e86541;
        
    }
    .secGreen{
        --color-pickem-main-bg:#083F37;
        --color-ranking-blocks:#187F64;
        --color-ranking-vote:#083F37;
        --color-badge: #17c9ae;
        
    }
    .secDark{
        --color-pickem-main-bg:#212121;
        --color-ranking-blocks:#161616;
        --color-ranking-vote:#2E2E2E;
        --color-badge: #a9a9a9;

    }

    /* scoreBoard */
    .scoreDarkBlue{
        --color-pickem-main-bg: #ffffff;

        --color-score-grad-one: #152E56;
        --color-score-grad-two: #132746;
        --color-score-shadow: rgba(103, 78, 255, 0.29);
        --color-badge: #1a72ff;
        
    }
    .scoreBlue{
        --color-pickem-main-bg: #ffffff;
        --color-score-grad-one: #2600EB;
        --color-score-grad-two: #1801B8;
        --color-score-shadow: rgba(103, 78, 255, 0.29);
        --color-badge: #5093ff;
    }
    .scoreLightBlue{
        --color-pickem-main-bg: #ffffff;
        --color-score-grad-one: #009FCE;
        --color-score-grad-two: #0078A1;
        --color-score-shadow: rgba(78, 225, 255, 0.29);
        --color-badge: #58d8ff;
        
    }
    .scoreGreen{
        --color-pickem-main-bg: #ffffff;
        --color-score-grad-one: #7AB20D;
        --color-score-grad-two: #60850C;
        --color-score-shadow: rgba(78, 255, 143, 0.29);
        --color-badge: #17c9ae;

    }


}   

html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    @apply text-[5vw] xsm:text-[3.15vw] md:text-[1.98vw] lg:text-[1.15vw] xl:text-[0.99vw] 2xl:text-[0.905vw] ;
}

svg{
    width:100%;
    height:100%;
}
  

body {
    @apply bg-(--color-tert) text-(--color-sec) font-inter
}

.sectionController{
    @apply text-MqSmall md:text-MqMedium lg:text-MqLarge xl:text-MqXLarge ;
}

.displayNone{
    @apply opacity-0 pointer-events-none;
}

.text-stroke {
    text-shadow: 
    -1px -1px 0 var(--color-sec),
    1px -1px 0 var(--color-sec),
    -1px 1px 0 var(--color-sec),
    1px 1px 0 var(--color-sec);
}

.orange-button{
    background: linear-gradient(182.24deg, var(--color-buttonGrad-one) 1.88%, var(--color-buttonGrad-two) 97.22%);
    
    @apply relative text-[0.72em] font-inter-italic font-bold uppercase w-full py-[.5em];

}

.orange-button::before {
    content: "";
    position: absolute;
    top: -0.5px;
    right: -0.5px;
    bottom: -0.5px;
    left: -0.5px;
    background: linear-gradient(to bottom, var(--color-sec), var(--color-tert));
    z-index: -1;
    border-radius: inherit;
}

.homeScreenGradient{
    background: linear-gradient(180deg, var(--color-pri) 0%, rgba(250, 86, 16, 0.8) 100%);
    background: linear-gradient(180deg, var(--color-homeScreenGrad-one) 60.71%,var(--color-homeScreenGrad-two) 100%);

}

.orange-button-two{
    background: linear-gradient(182.24deg, var(--color-buttonGrad-one) 1.88%, var(--color-buttonGrad-two) 97.22%);
    
    @apply relative text-[0.72em] font-inter-italic font-bold uppercase w-full py-[.5em];

}

.winnerTeam{
    @apply border-l-[0.5em] ;
}
.loserTeam{
    @apply border-preHover;
}

.customMatchFont-4{
    @apply text-[1.2em] xsm:text-[1.4em];
}

.pickem-main-bg-gradient{
    background: linear-gradient(180deg, 
    var(--color-pickem-main-bg-gradient-one) 60.71%,
     var(--color-pickem-main-bg-gradient-two)  100%);

}

.activeTheme{
    @apply bg-(--color-badge) text-black;
}

.rightWinnerTeam{
    @apply bg-[#00ff002e];
}



/* Thin scrollbar for Chrome, Safari, and newer Edge */
.thin-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}

.ranking-style-two{
    box-shadow: -4.5px -4.5px 0px rgba(255, 255, 255, 0.14), inset 0px 4px 62px #000000;
}


.scoreBackgroundBlocks{
    clip-path: polygon(100% 0px, 75.75% 100%, 0% 100%, 0 0%);
    background: linear-gradient(180deg, var(--color-score-grad-one) 0%, var(--color-score-grad-two) 100%);
}


.scoreBackgroundBlocksImage{
    box-shadow: inset 0px 0px 110px 105px var(--color-score-shadow);

}

/* image 603 */

.championBox{
    @apply border-pickem-box-champ border-[0.25em] relative;
}

.championBox::after {
    content: '';
    @apply absolute -top-[2.5em] left-1/2 -translate-x-1/2 w-[2em] h-[2em] bg-contain bg-no-repeat bg-center;
    background-image: url("/images/pickems/crown.svg");
}


.userAnswerFalse,
.userAnswerRight{
    @apply relative;
}


.userAnswerFalse::before,
.userAnswerRight::before {
    content: '';
    @apply absolute -right-[0.9em] top-1/2 -translate-y-1/2 size-[1.5em]  bg-contain bg-no-repeat bg-center;
    
    background-image: url("/images/pickems/right.svg");
}
.userAnswerFalse::before {
    background-image: url("/images/pickems/wrong.svg");
}

.userAnswerRight::before {
    background-image: url("/images/pickems/right.svg");
}